<h1>This is the answer page</h1>
<p>Here is the answer to your question:</p>
<div class="chat user">
  <p><%= @question %></p>
  <p>- You</p>
</div>

<div class="chat coach">
  <p><%= @answer %></p>
  <p>- Your coach</p>
</div>
